<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Envio</title>
</head>
<body>

    <h3>Welcome!</h3>
     <form action="/go" method="post">
    <button type="submit">Go</button>
    </form> 
</body>
</html>
>>>>>>> 2463188... node conexion con go y postgresql
